<?xml version="1.0"?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebCamWindowsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding1_IWebCamService">
                    <security mode="None"/>
                </binding>
            </netTcpBinding>
          <basicHttpBinding>
            <binding name="NetTcpBinding_IWebCamService" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
              <security mode="None"/>
            </binding>
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NetTcpBinding_IWebCamService" contract="WebCamService.IWebCamService" name="NetTcpBinding_IWebCamService"/>
        </client>
    </system.serviceModel>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <WebCamWindowsClient.Properties.Settings>
            <setting name="user_name" serializeAs="String">
                <value />
            </setting>
            <setting name="user_pass" serializeAs="String">
                <value />
            </setting>
        </WebCamWindowsClient.Properties.Settings>
    </userSettings>
</configuration>
